<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateServlet</display-name>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>com.onlinebanking.servlets.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyLogin1</servlet-name>
    <servlet-class>com.onlinebanking.services.VerifyLogin1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCon</servlet-name>
    <servlet-class>com.onlinebanking.db.GetCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyLogin1</servlet-name>
    <url-pattern>/servlet/VerifyLogin1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCon</servlet-name>
    <url-pattern>/servlet/GetCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionServlet</display-name>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>com.onlinebanking.servlets.TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/TransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BalanceServlet</display-name>
    <servlet-name>BalanceServlet</servlet-name>
    <servlet-class>com.onlinebanking.servlets.BalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalanceServlet</servlet-name>
    <url-pattern>/BalanceServlet</url-pattern>
  </servlet-mapping>
</web-app>